<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="CharliSystemLogger" type="log4net.Appender.RollingFileAppender">
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<file key="CharliSystemFileLocation" value="D:\CharliDev\Logs\" />
		<datePattern key="CharliSystemRotateFilePattern" value="'charli-'yyyy-MM-dd'.log'" />
		<appendToFile value="true" />
		<rollingStyle value="Composite" />
		<maximumFileSize value="256MB" />
		<staticLogFileName value="false" />
		<layout type="McpNetwork.Charli.Server.Managers.Logger.Models.CharliSystemLogLayout, CharliServices">
			<conversionPattern value="%date|[%thread]|%-5level|%SystemInfo{User}|%SystemInfo{Plugin}|%SystemInfo{CallingClass}|%SystemInfo{CallingMethod}|%SystemInfo{CallingParameters}|%SystemInfo{Message}|%SystemInfo{Exception}%newline" />
		</layout>
	</appender>

	<appender name="Console" type="log4net.Appender.ConsoleAppender">
		<layout type="McpNetwork.Charli.Server.Managers.Logger.Models.CharliSystemLogLayout, CharliServices">
			<conversionPattern value="%date|[%thread]|%-5level|%SystemInfo{User}|%SystemInfo{Plugin}|%SystemInfo{CallingClass}|%SystemInfo{CallingMethod}|%SystemInfo{CallingParameters}|%SystemInfo{Message}|%SystemInfo{Exception}%newline" />
		</layout>
	</appender>

	<logger name="CharliSystemLog">
		<appender-ref ref="Console" />
		<appender-ref ref="CharliSystemLogger" />
	</logger>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="CharliSystemLogger" />
	</root>
</log4net>
